.dashboard-icon{
    font-size: 3.5em;
}

.dashboard-photo{
    width: 3.5em;
    height: 3.5em;
    object-fit: cover;
}
/**/
.edit-icon{
    font-size: 7em;
}

.edit-photo{
    width: 7em;
    height: 7em;
    object-fit: cover;
}